.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.DS_Store
.env
*.log

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

outputs/figures/*
outputs/models/*
!outputs/figures/.gitkeep
!outputs/models/.gitkeep
